@charset "UTF-8";
@font-face {
  font-family: 'Overpass-Regular';
  src: url("../fonts/OVERPASS_REGULAR.eot");
  src: url("../fonts/OVERPASS_REGULAR.eot?#iefix") format("embedded-opentype"), url("../fonts/OVERPASS_REGULAR.woff") format("woff"), url("../fonts/OVERPASS_REGULAR.ttf") format("truetype"), url("../fonts/OVERPASS_REGULAR.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'Overpass-Light';
  src: url("../fonts/OVERPASS_LIGHT.eot");
  src: url("../fonts/OVERPASS_LIGHT.eot?#iefix") format("embedded-opentype"), url("../fonts/OVERPASS_LIGHT.woff") format("woff"), url("../fonts/OVERPASS_LIGHT.ttf") format("truetype"), url("../fonts/OVERPASS_LIGHT.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'Overpass-Bold';
  src: url("../fonts/OVERPASS_BOLD.eot");
  src: url("../fonts/OVERPASS_BOLD.eot?#iefix") format("embedded-opentype"), url("../fonts/OVERPASS_BOLD.woff") format("woff"), url("../fonts/OVERPASS_BOLD.ttf") format("truetype"), url("../fonts/OVERPASS_BOLD.svg#glyphicons_halflingsregular") format("svg"); }
body {
  font-family: "Overpass-Regular","Overpass-Light","Overpass-Bold"; }

ul {
  padding-left: 0px; }

ul li {
  list-style: none; }

.bg-dark {
  background: #f3f8fe; }

.index-h2 {
  margin-top: 0;
  font-family: "Overpass-Regular";
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 2.6rem;
  letter-spacing: 0px;
  color: #000d23; }

.title-underline {
  display: inline-block;
  margin: 1rem 0;
  width: 5rem;
  height: 5px;
  background-color: #02b3e3; }

.subtitle {
  font-size: 1rem;
  font-family: "Overpass-Light";
  line-height: 1.5rem;
  color: #000d23; }

.images-box {
  text-align: center; }

.images-box img {
  width: 100%; }

a, .btn {
  -webkit-transition: color .3s ease;
  transition: color .3s ease; }

.btn {
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease; }

.logo {
  width: 8.2rem; }

.margin-bottom0 {
  margin-bottom: 0px; }

.form-group .form-control {
  font-family: Overpass-Light; }

.btn-primary {
  background-color: #02b9eb;
  border-color: #02b9eb; }

.mask-img {
  opacity: 0.4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.mask-img:hover {
  opacity: 1; }

.btn-primary:hover {
  color: #fff;
  background-color: #2ab3ea;
  border-color: #2ab3ea; }

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; }

.no-wrap {
  white-space: nowrap; }

/*banner*/
.banner {
  width: 100%;
  height: 40rem;
  text-align: center;
  position: relative;
  overflow: hidden; }

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.background img {
  height: 100%;
  width: 100%;
  z-index: -1; }

.banner .text {
  width: 100%;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f15a29;
  /*text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);*/
  font-size: 1.85rem; }

.banner-text .images-width {
  width: 4.9rem;
  opacity: 0.7; }

.banner-text .images-width:hover {
  opacity: 1; }

/*banner font*/
.index-font-family {
  color: #fff;
  font-family: "Overpass-Light"; }

.margin-bottom-20 {
  margin-bottom: 20px; }

/*everyone-wins*/
.padding-pic-sl {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.subscribe {
  background: #00173f;
  padding-top: 8rem;
  padding-bottom: 8rem; }

.partners {
  background-color: #00173f; }

.videos {
  background: #00173f;
  color: #fff; }

/*.everyone-wins .title{margin-bottom: 5rem;}*/
.everyone-wins-img {
  max-width: 1000px; }

/*The Business*/
.the-business {
  padding-top: 0; }

.the-business .title {
  padding-top: 5rem; }

.business-list-box .row {
  margin-top: 5rem; }

.business-list-box .text {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #666666;
  font-family: "Overpass-Light"; }

.business-list-box .text li {
  list-style: disc;
  color: #778bab; }

.business-list-box .text li span {
  color: #666666; }

.business-list-box .text .subtitle {
  text-align: center;
  margin: 1.5rem 0 1rem;
  font-family: "Overpass-Regular"; }

.business-list-box .images-a {
  height: 5.8rem; }

.business-item-a {
  font-family: Overpass-Regular;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #172844; }

.business-item-a span {
  display: inline-block;
  padding: 1rem;
  background-color: #f3f8fe;
  box-shadow: 0px 2px 6px 0px rgba(128, 128, 128, 0.17);
  border-radius: 10px; }

/*Our mission*/
.subtitle-a {
  border-bottom: 1px solid #b4cae4;
  font-size: 18px;
  line-height: 30px;
  color: #000d23; }

.subtitle-a span {
  float: left;
  display: block;
  margin-top: -20px;
  padding: 5px 10px;
  font-family: "Overpass-Regular";
  font-size: 1rem;
  background: #f3f8fe; }

.our-mission-item {
  padding-top: 6rem; }

.our-mission-item .subtitle {
  padding: 3rem 14rem 4.5rem;
  font-size: 1.3rem;
  line-height: 2rem; }

/*token-distribution*/
.token-distribution .images-box {
  margin-top: 4.5rem; }

/*subscribe*/
.subscribe-primary {
  padding: 0.8rem 0.6rem;
  font-family: "Overpass-Regular";
  font-size: 1rem;
  border-radius: 10px; }

.subscribe .text-a {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Overpass-Regular"; }

.subscribe .text-b {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Overpass-Light"; }

.subscribe-form-control {
  color: #000;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 1.4rem 0.6rem;
  font-family: Oevrpass_light; }

/*paper*/
.paper {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.paper-text {
  padding-top: 7rem; }

.paper .text-a {
  font-family: "Overpass-Regular";
  font-size: 1.5rem;
  line-height: 2rem;
  color: #172844; }

.paper .text-b {
  margin-top: 2rem;
  margin-bottom: 4.5rem;
  font-family: Overpass-Light;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #778bab; }

.paper .btn-primary {
  background-color: #02b9eb;
  border-radius: 30px;
  font-family: "Overpass-Regular";
  font-size: 20px;
  color: #ffffff;
  border-color: #02b9eb;
  padding: 12px 60px; }

.paper .btn-primary:hover {
  color: #fff;
  background-color: #02b3e3;
  border-color: #02b3e3; }

/*team*/
.team-list ul .row {
  margin: 4.5rem 0 0; }

.team-list ul li {
  position: relative; }

.team-list ul li .team-box {
  width: 100%;
  max-width: 19rem;
  padding: 0 0.5rem 2rem;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 0px 14px 0px rgba(77, 77, 77, 0.2);
  box-sizing: border-box;
  z-index: 1;
  background-color: #fff; }

.team .images-box {
  height: 18rem; }

.team-list ul li .team-box .resume-text {
  height: 100%;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  text-align: left;
  padding: 1rem 1.5rem;
  background-color: rgba(103, 121, 136, 0.83);
  font-family: Overpass-Regular;
  font-size: 12px;
  line-height: 1.1rem;
  color: #ffffff;
  display: none;
  overflow: auto; }

.team .member-data {
  color: #000d23;
  background-color: #fff; }

.team .member-data .name {
  margin-bottom: 0px;
  font-family: Overpass-Bold;
  font-size: 1.35rem;
  line-height: 2.7rem;
  color: #212228; }

.team .member-data .name ._in_sl {
  display: inline-block;
  margin-right: 0.8rem; }

.team .member-data .name img {
  width: 2.3rem; }

.team .member-data .post {
  margin-bottom: 0px;
  font-family: Overpass-Light;
  font-size: 0.7rem;
  line-height: 1.5rem;
  color: #888a92;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.team .Harvey-Tsoi {
  background: url(../images/Harvey-Tsoi.png) no-repeat center center;
  background-size: 69.74%; }

.team .Alan-Li {
  background: url(../images/Alan-Li.png) no-repeat center center;
  background-size: 69.74%; }

.team .Peter-Lau {
  background: url(../images/Peter-Lau.png) no-repeat center center;
  background-size: 69.74%; }

.team .Bruce-Xian {
  background: url(../images/Bruce-Xian.png) no-repeat center center;
  background-size: 69.74%; }

.team .Vera-Zhao {
  background: url(../images/Vera-Zhao.png) no-repeat center center;
  background-size: 69.74%; }

.team .Max-Cheung {
  background: url(../images/Max-Cheung.png) no-repeat center center;
  background-size: 69.74%; }

.team .Jason-Pang {
  background: url(../images/Jason-Pang.png) no-repeat center center;
  background-size: 69.74%; }

.team .Lucas-Zheng {
  background: url(../images/Lucas-Zheng.png) no-repeat center center;
  background-size: 69.74%; }

.team .Lian-Wai {
  background: url(../images/Lian-Wai.png) no-repeat center center;
  background-size: 69.74%; }

.team .Gary-Yeung {
  background: url(../images/Gary-Yeung.png) no-repeat center center;
  background-size: 69.74%; }

.team .Ivan-Cheung {
  background: url(../images/Ivan-Cheung.png) no-repeat center center;
  background-size: 69.74%; }

.team .Geraldine-Jippe {
  background: url(../images/Geraldine-Jippe.png) no-repeat center center;
  background-size: 69.74%; }

.team .Stefan-Beyer {
  background: url(../images/Dr.-Stefan-Beyer.png) no-repeat center center;
  background-size: 69.74%; }

.team .Chris-Lepitak {
  background: url(../images/Chris-Lepitak.png) no-repeat center center;
  background-size: 69.74%; }

/*.team .Chris-Lepitak {
  background: url(../images/Chris-Lepitak.png) no-repeat center center;
  background-size: 69.74%; }*/

.team .Richard-Ihuel {
  background: url(../images/Richard-Ihuel.png) no-repeat center center;
  background-size: 69.74%; }

.team .Debbie-Liu {
  background: url(../images/Debbie-Liu.png) no-repeat center center;
  background-size: 69.74%; }

.team .Adam-Cheng {
  background: url(../images/Adam-Cheng.png) no-repeat center center;
  background-size: 69.74%; }

.team .Oscar-Tuet {
  background: url(../images/Oscar-Tuet.png) no-repeat center center;
  background-size: 69.74%; }

.advisors-investors {
  padding-top: 0;
  padding-bottom: 0; }

/*partners*/
.partners-box {
  padding: 4rem  0.5rem 5.5rem;
  background-color: #ffffff;
  border-radius: 20px; }

.partners-box .title {
  padding-bottom: 3.5rem; }

.partners-box .images-a {
  margin-right: 20px;
  width: 8rem;
  max-width: 164px; }

.partners-box .list img {
  margin: 1.5rem 2rem; }

/*Roadmap*/
.roadmap .title {
  margin-bottom: 5.5rem; }

.expectation-list {
  border-left: 1px solid #b8e7f9;
  margin-top: 8rem;
  padding-top: 1.5rem; }

.expectation-list .help-block {
  height: 1.8rem; }

.expectation-list .item {
  display: table; }

.expectation-list .item .left {
  display: table-cell;
  width: 10rem;
  vertical-align: middle; }

.expectation-list .item .right {
  display: table-cell;
  vertical-align: middle;
  margin-top: 2.5rem;
  padding: 2.5rem 2.7rem;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(203, 214, 222, 0.3);
  border-radius: 10px;
  border: solid 1px #ecf4ff; }

.expectation-list .item .left .hr {
  height: 1px;
  background: #b8e7f9;
  margin-top: -1.7rem; }

.expectation-list .item .left span {
  display: inline-block;
  margin-left: -1.7rem;
  width: 3.4rem;
  height: 3.4rem;
  background: #fff url(../images/roadmap-icon-a.png) no-repeat center center;
  z-index: 2;
  background-size: 3.4rem 3.4rem; }

.expectation-list .item .right h3 {
  margin-bottom: 1.2rem;
  font-family: Overpass-Regular;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: #000d23; }

.expectation-list .item .right ul {
  padding-left: 15px; }

.expectation-list .item .right ul li {
  list-style-type: disc;
  color: #778bab; }

.expectation-list .item .right p {
  font-family: Overpass-Light;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #778bab; }

.expectation-list .item .right img {
  width: 5.1rem; }

.expectation-list .item .right .box {
  display: table; }

.expectation-list .item .right .img-wrap {
  display: table-cell;
  vertical-align: middle;
  padding-right: 1.5rem; }

.expectation-list .item .right .text-wrap {
  display: table-cell;
  vertical-align: middle; }

/*videos*/
.videos h2 {
  margin-bottom: 2rem;
  font-family: "Overpass-Regular";
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 1px; }

.videos h3 {
  font-family: Overpass-Regular;
  font-size: 1.4rem;
  line-height: 2rem; }

.videos .text-a {
  font-family: "Overpass-Bold";
  font-size: 0.8rem;
  line-height: 2rem;
  color: #02b3e3; }

.videos .text-b {
  font-family: Overpass-Light;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #e1f0fa; }

.videos .sl-margin {
  margin-top: 5.7rem; }

.videos .images-a {
  width: 3rem; }

.video-box {
  position: relative; }

.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/*footer*/
.footer {
  padding-top: 5rem;
  padding-bottom: 4rem; }

.footer .margin-sl {
  margin-top: 2rem; }

.footer-text {
  font-family: Overpass-Light;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #000000; }

.footer-text a {
  color: #000;
  text-decoration: none; }

.footer-text a:hover {
  color: #8e8e8e; }

.footer-text span {
  color: #000;
  padding: 0 5px; }

.footer-text-a p {
  font-family: Overpass-Light;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #808080; }

.footer-icon {
  padding-top: 3rem; }

.footer-icon a {
  margin-left: 0.75rem;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem; }

.footer-icon .linkedin {
  background: url(../images/footer-icon.png) no-repeat;
  background-position: 0 0;
  background-size: 14.65rem; }

.footer-icon .telegram {
  background: url(../images/footer-icon.png) no-repeat;
  background-position: -3rem 0;
  background-size: 14.65rem; }

.footer-icon .facebook {
  background: url(../images/footer-icon.png) no-repeat;
  background-position: -5.7rem 0;
  background-size: 14.65rem; }

.footer-icon .twitter {
  background: url(../images/footer-icon.png) no-repeat;
  background-position: -8.7rem 0;
  background-size: 14.65rem; }

.footer-icon .m {
  background: url(../images/footer-icon.png) no-repeat;
  background-position: -12.1rem 0;
  background-size: 14.65rem; }

.footer-icon a:hover {
  opacity: 0.8; }

.footer .hr {
  margin-top: 2rem;
  height: 1px;
  background-color: #b4cae4; }

.top {
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  display: none; }

.video-iframe {
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  max-width: 900px;
  display: none;
  max-height: 600px;
  z-index: 1040; }

.video-iframe-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

.colse-ico {
  width: 40px;
  height: 40px;
  position: fixed;
  top: -40px;
  right: -40px;
  background: url(../images/close.png) center center no-repeat; }

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1039;
  display: none;
  background: rgba(0, 0, 0, 0.5); }

/*Risk Discalimers*/
.risk-discalimers {
  padding: 4rem 0 8rem; }

.risk-discalimers h4 {
  margin: 3rem 0 0.8rem;
  font-family: Overpass-Regular;
  font-size: 0.9rem;
  line-height: 8px;
  color: #172745;
  font-weight: 600; }

.risk-discalimers p {
  font-family: Overpass-Light;
  font-size: 0.9rem;
  line-height: 1.6rem;
  color: #80899b; }

/*join-whitelist*/
.join-whitelist {
  padding: 3.5rem 0 0; }

.join-whitelist .title {
  padding-bottom: 2rem; }

.join-whitelist label {
  font-family: Overpass-Light;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6998b8;
  margin-bottom: 0.5rem;
  font-weight: normal; }

.join-whitelist .btn-link {
  color: #02b9eb; }

.join-whitelist .form-group {
  margin-bottom: 1.3rem; }

.radio-list label {
  color: #172745;
  padding-left: 1.25rem; }

.radio-list input {
  margin-left: -1.25rem !important;
  margin-top: 6px;
  width: 1rem;
  height: 1rem; }

.join-whitelist .form-control::-webkit-input-placeholder {
  color: #6998b8; }

.resume-text::-webkit-scrollbar {
  width: 3px;
  height: 16px;
  background-color: #f1f1f1; }

.resume-text::-webkit-scrollbar-track {
  background-color: transparent; }

.resume-text::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; }

.resume-text::scrollbar {
  width: 3px;
  height: 16px;
  background-color: #f1f1f1; }

.resume-text::scrollbar-track {
  background-color: transparent; }

.resume-text::scrollbar-thumb {
  background-color: #c1c1c1; }

.resume-text::-moz-scrollbar {
  width: 3px;
  height: 16px;
  background-color: #f1f1f1; }

.resume-text::-moz-scrollbar-track {
  background-color: transparent; }

.resume-text::-moz-scrollbar-thumb {
  background-color: #c1c1c1; }

/*airdrop_plan*/
.airdrop-plan{padding:3.5rem 0 3.5rem;background-image: linear-gradient(50deg, #1b85e7 0%, #a9dcff 100%);min-height:  calc(100vh - 94px);}
.airdrop-plan-wrap{padding: 6px;background:rgba(255,255,255,.3); }
.airdrop-plan-box{background: #ffffff;}
.airdrop-plan .title{padding: 30px 0 10px;}
.airdrop-plan .title .title-a{text-align: right; padding-right: 3rem;font-size: 0.9rem;color: #172745;}
.airdrop-plan ul{margin-bottom: 0;}
.airdrop-plan .text li{padding: 0.75rem 2.5rem; border-top:2px dashed #ccf1fb;font-size: 0.9rem;cursor: pointer;}
.airdrop-plan .text li:last-child{border-bottom:2px dashed #ccf1fb;}
.airdrop-plan .text li .item-icon{float: left;display: inline-block;width: 40px;height: 40px;opacity: 0.5;transition: opacity .3s ease;}
.airdrop-plan .text li .item-text{float: left;line-height: 1.3rem;padding-left: 1rem;color:#6b6f76 ;padding-top: 7px; text-decoration: none;transition: color .3s ease;}
.airdrop-plan .text li .item-label{margin-right: 0.85rem;position: relative; float: right;padding: 7px 10px; background-color: #172844;color: #ffffff;line-height: 1.3rem;opacity: 0;transition: opacity .3s ease;}
.airdrop-plan .text li .item-label:after{position: absolute;right: -10px;top: 50%;transform: translateY(-50%); content: "";width:0px; height:0px;border-top:5px solid rgba(0,0,0,0);border-right:5px solid  rgba(0,0,0,0);border-bottom:5px solid rgba(0,0,0,0);border-left:5px solid  #172844;}
.airdrop-plan .text li .item-reward{padding: 7px 2rem; float: right;background-image: linear-gradient(0deg,   rgba(27, 133, 231, 0.38) 0%,   rgba(169, 220, 255, 0.38) 100%), linear-gradient(#02b9eb, #02b9eb);background-blend-mode: multiply, normal;border-radius: 20px;color: #ffffff;line-height: 1.3rem;}
.airdrop-plan .whitelist{background: url(../images/airdrop_plan.png)no-repeat -2px -2px;}
.airdrop-plan .email{background: url(../images/airdrop_plan.png)no-repeat -2px -72px;}
.airdrop-plan .telegram{background: url(../images/airdrop_plan.png)no-repeat -2px -142px;}
.airdrop-plan .facebook{background: url(../images/airdrop_plan.png)no-repeat -2px -212px;}
.airdrop-plan .twitter{background: url(../images/airdrop_plan.png)no-repeat -2px -282px;}
.airdrop-plan .bvr{background: url(../images/airdrop_plan.png)no-repeat -2px -352px;}
.airdrop-plan .text li:hover .item-text{color: #02b9eb;}
.airdrop-plan .text li:hover .item-icon{opacity: 1;}
.airdrop-plan .text li:hover .item-label{opacity: 1;}


/*banner font*/
.index-font-family {
  color: #1c3565;
  font-family: "Overpass-Light"; }

.margin-bottom-20 {
  margin-bottom: 40px; }

.margin-bottom-3rem {
  margin-bottom: 3rem; }

.margin-bottom-60 {
  margin-bottom: 8rem; }

.index-media-section {
  background-color: #00173f; }

.index-media-section .container {
  background-color: #fff;
  padding: 4rem 1rem 0 1rem;
  overflow: hidden;
  border-radius: 1rem; }

.index-media-section .team-list .row {
  margin-top: 0rem; }

.index-media li {
  float: left;
  line-height: 100px;
  text-align: center; }

.index-media-box {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.index-media li img {
  max-width: 100%; }

.index-media li:after {
  clear: both;
  content: "";
  display: table; }

.particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }


@media screen and (max-width: 767px) {
  html {
    font-size: 12px; }

  .team-list ul .row {
    margin: 0; }

  .team-list ul li {
    margin-bottom: 5rem; }

  .index-media li {
    width: 50%; }

  .paper .btn-box {
    margin-bottom: 2rem; }

  .subscribe .form-group {
    padding-left: 0;
    padding-right: 0; }

  .our-mission-item .subtitle {
    padding: 0; }

  .expectation-list {
    margin-left: 1.7rem; }

  .expectation-list .item .right .box {
    display: block; }

  .expectation-list .item .right .img-wrap {
    display: block;
    padding-right: 0; }

  .expectation-list .item .right .text-wrap {
    display: inline-block; }

  .expectation-list .item .left {
    width: 3rem; }

  .team-list ul li .team-box {
    max-width: 100%; }

  .team .images-box {
    height: 24rem; }

  .videos .video-box {
    margin-bottom: 3rem; }

  .team .member-data .post {
    font-size: 1rem; }

  .phone-none {
    display: none; }

  .video-iframe {
    max-height: 200px; }

  .colse-ico {
    position: fixed;
    top: -60px;
    right: 5px; }

  .banner .text {
    font-size: 1.6rem;
    margin-top: 15px; }

  .banner-text .images-width {
    width: 4rem;
    margin-bottom: 1rem; }

  .footer .footer-text p {
    margin-bottom: 0; }

  .paper-text {
    padding-top: 0; }

  .paper .btn-box {
    margin-bottom: 5rem; }

  .join-whitelist {
    padding: 8.5rem 0 0; }

  .risk-discalimers {
    padding: 8rem 0; }

  .background img {
    height: 100%;
    width: auto;
    z-index: -1; }

  .index-media-section {
    padding-left: 1rem;
    padding-right: 1rem; }

  .index-media-section .team-list ul li {
    margin-bottom: 0; }
  .airdrop-plan .index-h2{
    font-size: 1.7rem
  }
  .airdrop-plan{
    padding: 10rem 0 6rem;
  }
  .airdrop-plan .text li{
    padding: 15px 20px;
    border-width: 1px;
  }
  .airdrop-plan .title .title-a{
    text-align: center;
    padding-right: 0;
  }
  .airdrop-plan .text li .item-icon{
    float: none;
    display: block;
    margin:0 auto 15px;
    opacity: 1;
  }
  .airdrop-plan .text li .item-text{
    float: none;
    display: block;
    color: #02b9eb;
    padding:  0;


  }
  .airdrop-plan .text li .item-label{
    float: left;
    opacity: 1;
    margin-top: 15px;
  }
  .airdrop-plan .text li .item-reward{
    margin-top: 15px;
    padding: 7px 2.8rem;
    text-align: center;
    } }
@media screen and (min-width: 768px) {
  html {
    font-size: 14px; }

  .index-main {
    margin-top: 4.70rem; }

  .pc-none {
    display: none; }

  .padding-top0 {
    padding-top: 0; }

  /*导航条*/
  /*@media screen and (min-width:768px)*/
  .navbar {
    min-height: 4.7rem;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease-in-out, -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: all 0.3s ease-in-out, -moz-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.3s ease-in-out, transform 1s cubic-bezier(0.86, 0, 0.07, 1); }

  .navbar-brand {
    height: 4.7rem; }

  .navbar-brand img {
    margin-top: 0.4rem; }

  .navbar-nav {
    padding-top: 1rem;
    padding-bottom: 1.1rem; }

  .navbar-default {
    background-color: #fff; }

  .navbar-default .navbar-nav > li > .btn-sl {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    color: #fff;
    border-radius: 25px;
    background-color: #02b3e3;
    border-color: #02b3e3;
    font-family: "Overpass-Regular"; }

  .navbar-default .navbar-nav > li > .btn-primary:hover {
    color: #fff;
    background-color: #02b9eb;
    border-color: #02b9eb; }

  .slideout {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }

  .navbar-default .navbar-nav > ._nav-li {
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    -webkit-transform: perspective(2px) translateZ(0);
    transform: perspective(2px) translateZ(0); }

  .navbar-default .navbar-nav > ._nav-li > a {
    padding-left: .6rem;
    padding-right: .6rem;
    color: #000d23;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    font-family: "Overpass-Regular"; }

  .navbar-default .navbar-nav > ._nav-active > a {
    color: #1acaed; }

  .navbar-default .navbar-nav > ._nav-li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #1acaed;
    height: 2px;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }

  .navbar-default .navbar-nav > ._nav-active:before {
    right: 15px;
    left: 15px; }

  .navbar-default .navbar-nav > ._nav-li:hover {
    background-color: transparent;
    border-bottom: none;
    color: #1acaed; }

  .navbar-default .navbar-nav > ._nav-li:hover::before {
    left: 15px;
    right: 15px; }

  .navbar-default .navbar-nav > ._nav-li > a:hover {
    color: #1acaed; }
  .airdrop-plan .text li .item-text{
    max-width: 360px;
    }  }
@media screen and (min-width: 992px) {
  html {
    font-size: 16px; }

  .nav > ._992-block {
    display: none; }

  .dynamic {
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    transform: translateY(150px);
    opacity: 0; }

  .dynamic_display {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease; }

  .navbar-default .navbar-nav > ._nav-li > a {
    padding-right: 1rem;
    padding-left: 1rem; }
  .airdrop-plan .text li .item-text{
    max-width: 540px;
    }  }
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px; }

  .navbar-default .navbar-nav > ._nav-li > a {
    padding-right: .6rem;
    padding-left: .6rem; }
  .airdrop-plan .text li .item-text{
    max-width: 660px;
    }  }
@media screen and (min-width: 1500px) {
  .container {
    width: 1420px; }

  .navbar-default .navbar-nav > ._nav-li > a {
    padding-right: 1.2rem;
    padding-left: 1.2rem; }
  .airdrop-plan .text li .item-text{
    max-width: 880px;
    } }
@media screen and (max-width: 1200px) {
  .navbar-default .navbar-nav > li > .btn-sl {
    padding-left: 2rem;
    padding-right: 2rem; }

  .navbar-default .navbar-nav > ._nav-li > a {
    padding-left: .32rem;
    padding-right: .32rem; }

  .partners-box .list img {
    height: 2rem; } }
@media screen and (max-width: 992px) {
  .nav > li._992-none {
    display: none; }

  .partners-box .list {
    text-align: center; }

  .navbar-default .navbar-nav > li > a {
    padding-left: 12px;
    padding-right: 12px; }

  .navbar .container {
    width: 100%; }

  .navbar-header {
    float: none; }

  /*.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {margin-right: -15px;margin-left: -15px;}*/
  .navbar-left.navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block;
    margin-top: 16px; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }



/*# sourceMappingURL=common.css.map */



/*计算器*/
.price{ padding-top:100px; }
.price-title{ margin-bottom:0rem; }
.price .price-list{padding: 2rem;box-shadow: 0px 5px 10px 0px rgba(203, 214, 222, 0.3);border-radius: 0.5rem;border: solid 1px #ecf4ff;}
.price-list .col-md-3:not(:last-child){border-right:1px solid #6ecff6;}
.price-list .font-a{font-size: 1.5rem;line-height: 2rem; color: #333333;}
.price-list .font-b{font-size: 1.5rem;line-height: 2rem; color: #6ecff6;}
.price .tit-img{padding:3rem 0 3.5rem;}
.price .tit-img img{max-width: 100%;}
.switch-images{padding-top: 2.5rem;}
.price .input-img-box{margin-bottom: -3.25rem;z-index: 1000;position: relative; display: inline-block;width: 1.9rem;height: 1.9rem;background: url('../images/input-text-ico.png')no-repeat center center;background-size: 1.9rem 1.9rem;}
.price .input-list-box{padding-bottom: 10rem;}
.price .input-list-box .form-control{height: 4.2rem; padding-left: 3rem; border-radius: 0;border-top: none;border-left: none;border-right:none;border-bottom-color: #e7ecf4; box-shadow: none;-webkit-appearance: none;font-size:1.5rem;color: #333333;}
.price .input-list-box .form-control::-webkit-outer-spin-button,
.price .input-list-box .form-control::-webkit-inner-spin-button {-webkit-appearance: none;}
.price .input-list-box .form-control[type="number"]{-moz-appearance: textfield;}
  /*下拉菜单样式*/
#dropdown{width:7.8rem; position:relative} 
#dropdown .dropdown-check{margin: 0;height:4.2rem;font-size: 2.5rem;line-height:4.2rem; padding-left:4px;border-bottom: 1px solid #e7ecf4;; color: #6ecff6; cursor:pointer;background: url('../images/dropdown-icon.png') no-repeat right center;} 
#dropdown ul{width:7.8rem;background-color: #fafafa;box-shadow: 0px 1px 7px 0px rgba(109, 109, 109, 0.2); margin-top:2px;position:absolute; display:none;z-index:9;} 
#dropdown ul li{padding: 0 0.5rem;list-style:none;} 
#dropdown ul li a{display:block;text-align:center;padding: 0.5rem 0;line-height: 1.7rem;font-size: 1.3rem;color:#807a62; text-decoration:none;border-bottom: 1px solid #e7ecf4;} 
#dropdown ul li a:hover{background:#c6dbfc; color:#369}
/*下拉菜单样式*/
.price .font-c{height: 4.2rem;line-height: 4.2rem; margin-bottom: 0;font-size: 2.5rem;color: #333333;border-bottom: 1px solid #e7ecf4;;}

@media screen and (max-width: 767px){
  .price{ padding-top:12rem; }
  .price .tit-img{padding:2.5rem 0; display: none;}
  .price-title{ margin-bottom:3rem; }
  .switch-images{}
  .switch-images>img{ width:12%; }
  #dropdown .dropdown-check{margin: 0;height:4.2rem;font-size: 2.5rem;line-height:4.2rem; padding-left:4px;border-bottom: 1px solid #e7ecf4;; color: #6ecff6; cursor:pointer;background: url('../images/dropdown-icon.png') no-repeat right center / 20% 20%;} 
  .price .price-list{box-shadow:none;border:none;padding-left: 15px;padding-right: 15px;}
  .price-list .col-md-3{padding-top: 10px; box-shadow: 0px 0 10px 2px rgba(203, 214, 222, 0.3);border:1px solid #6ecff6;border-radius: 5px;margin-bottom: 10px;}
  .span-txt{ padding-right:1rem; }
}
/*计算器*/

.top-nav-header{ height:2.143em; background:#404040; overflow-x: auto; overflow-y: hidden;  }
.top-nav-header p{line-height:2.143em;white-space: nowrap;}
.span-txt{ display:inline-block; color:#fff;  font-size:12px;font-family: 'Helvetica'; }
.span-txt em{ font-style:normal;display: inline-block; color:#0ecbff;margin-right:.2em; }
.span-txt i{ font-style:normal;display: inline-block; color:#727272; margin:0 .9em; }
.span-calculator{ display: inline-block;text-decoration:none; background:#262626 url('../images/calcu.png') 11% center no-repeat; padding:0 3em; margin-left:1em; color:#ccc;   }
.span-calculator:hover,.span-calculator:focus{ color:#fff;text-decoration:none;  }